body {
  font-family: "Sofia", sans-serif;
  background-color:pink;
  padding:10px;
  
}
.Container
{
  align-items: center;
  padding:10px;
  
  background-color: white;

}

.Button
{
  background-color: pink;
  padding:10px;
  border-radius: 12px;
  margin: 20px;
 font-weight: bold;
  font-size: 25px;
  font-family: "Sofia";
}
.Button:hover
 {
  background-color: #1c124b; 
  color: white;
}

.person
{
  font-size:25px;
}
